body{
    background-color: bisque;
}

div.top{
    box-sizing: border-box;
    text-align: center;
    width: 75%;
    height: 20%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-inline: auto;
}

.buttons{

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    margin-inline: auto;
    width: 100%;
    max-width: 600px;
    /*height: 25px;*/
    padding: 10px;

    border: 2px dotted black;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: rgb(0, 255, 179);
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

hr{
    color: gray;
}

textarea{

    display: flex;
    justify-content: center;
    align-items: center;

    resize: none;

    height: 300px;
    width: 100vw;

    border: none;
    border-radius: 5px;

    line-height: 1;
    vertical-align: top;

    padding: 5px 15px;
}

form textarea{
    margin-bottom: 6px;
}

button{
    padding: 10px 20px;

    border: none;
    border-radius: 5px;
}